section {
    margin-top: 5%;
    margin-bottom: 5%;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
}
.card {
    float: left;
}
.hide {
    display: none;
}

.background-img {
    z-index: -1;
    position: fixed;
    max-width: fit-content;
    max-height: fit-content;
}

@media (min-width: 1250px) {
    .img-2 {
        display: none;
    }
}

@media (max-width: 1250px) {
    .img-1 {
        display: none;
    }
}