body
{
    background-color: rgb(255, 0, 0);
}
.wrapper
{
    width: 90vw;
    padding-left: 10vw;
    padding-top: 5vw;
}
.header
{
    height: 7vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    text-align: center;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}
nav
{
    height: 3vw;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    background-color: rgb(175, 175, 175);
    text-align: center;
    padding-left: 10vw;
}
.home
{
    color: rgb(0, 0, 0);
    width: 20vw;
    float: left;
}
.howto
{
    color: rgb(0, 0, 0);
    width: 20vw;
    float: left;
}
.results
{
    color: rgb(0, 0, 0);
    width: 20vw;
    float: left;
}
.quiztile
{
    height: 30vw;
    background-color: rgb(255, 255, 255);
    padding: 1vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}
.question
{
    font-size: 3vw;
    text-align: center;
    font-size: 2vw;
    padding: 1vw;
    text-align: center;
    background-color: rgb(255, 115, 0);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 1vw;
}
.options
{
    font-size: 2vw;
    padding: 3vw;
    text-align: center;
}
.submit
{
    text-align: center;
}
.finish
{
    font-size: 2vw;
    padding: 1vw;
    text-align: center;
    background-color: rgb(255, 115, 0);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 1vw;
}
.section
{
    height: 40vw;
    background-color: rgb(255, 255, 255);
    padding: 1vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}
h1
{
    font-size: 3vw;
    padding: 2vw;
    text-align: center;
}
p
{
    font-size: 2vw;
    padding: 2vw;
}
.cheatsheet
{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2vw;
}
.button-style
{
    background-color: rgb(255, 115, 0);
    color: rgb(0, 0, 0);
    padding: 1vw;
    border: none;
    border-radius: 1vw;
    margin: 0.5vw;
}
.answers
{
    color: rgb(0, 0, 0);
    font-size: 2vw;
    padding-left: 2vw;
    border: 1vw;
}